<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Add these permissions to AndroidManifest.xml -->
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature 
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduZebConnect"
        tools:targetApi="31">

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main Login Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EduZebConnect.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.EduZebConnect.NoActionBar" />

        <!-- Student Activities -->
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SearchSchoolsActivity"
            android:exported="false"
            android:parentActivityName=".StudentDashboardActivity" />

        <activity
            android:name=".DocumentsActivity"
            android:exported="false"
            android:parentActivityName=".StudentDashboardActivity" />

        <activity
            android:name=".MyApplicationsActivity"
            android:exported="false"
            android:parentActivityName=".StudentDashboardActivity" />

        <activity
            android:name=".RecommendationsActivity"
            android:exported="false"
            android:parentActivityName=".StudentDashboardActivity" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:parentActivityName=".StudentDashboardActivity" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".StudentDashboardActivity" />

        <activity
            android:name=".NewApplicationActivity"
            android:exported="false"
            android:parentActivityName=".StudentDashboardActivity" />

        <!-- Admin Activities -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ManageApplicationsActivity"
            android:exported="false"
            android:parentActivityName=".AdminDashboardActivity" />

        <activity
            android:name=".ManageSchoolsActivity"
            android:exported="false"
            android:parentActivityName=".AdminDashboardActivity" />

        <!-- Other Activities -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SchoolDetailActivity"
            android:exported="false" />

        <activity
            android:name=".DocumentViewerActivity"
            android:exported="false" />

        <activity
            android:name=".StudentAnalyticsActivity"
            android:exported="false" />

        <activity
            android:name=".ReportsActivity"
            android:exported="false" />

        <activity
            android:name=".AdminNotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".AdminSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

    </application>

</manifest>
